body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background: url("img/fundo\ .png") no-repeat center center/cover;
}

.card {
  background: rgb(19, 51, 156); 
  backdrop-filter: blur(15px);
  border-radius: 25px;
  padding: 40px 35px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
  width: 380px;
  text-align: center;
  color: rgb(255, 255, 255);
}

h1 {
  margin-bottom: 25px;
  color: #fff;
  font-size: 26px;
  font-weight: bold;

}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* ======== CAMPOS DE ENTRADA ======== */
input {
  width: 100%;
  padding: 15px 15px;
  margin: 18px 0;
  border: none;
  border-radius: 15px;
  background: rgba(233, 232, 232, 0.9);
  font-size: 15px;
  outline: none;
  transition: 0.3s;
}

input:focus {
  background: rgb(255, 254, 254);
  box-shadow: 0 0 5px #21b3e0;
}


button {
  width: 100%;
  padding: 12px 15px;
  margin-top: 20px;
  border: none;
  border-radius: 40px;
  background: rgb(141, 2, 71);
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

button:hover {
  background: rgb(160, 25, 40);
  transform: scale(1.02);
}

h {
  font-size: 14px;
  margin-top: 20px;
  color: #fff;
}

a {
  color:  #c39bff;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

a:hover {
  text-decoration: underline;
  color:#d7bffa;
}

#mensagem {
  margin-top: 15px;
  font-weight: bold;
  color: #fff;
}